<html>
  <head>
    <meta charset="UTF-8">
    <title>Complete</title>
    <link rel="stylesheet" href="./base.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>Thank you for your message.</h1>
  </body>
</html>
